<!DOCTYPE html>
<html>
  <head>
    <title>Splunk Logging Checker </title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <style>
      .container {
        max-width: 1000px;
      }

.topright {
  position: absolute;
  top: 50px;
  right: 16px;
  font-size: 18px;
}
.bottomright {
  position: absolute;
  bottom: 120px;
  right: 16px;
  font-size: 18px;
}
    </style>
  </head>
  <body>
    <div class="container">
      <h1>Splunk Logging Checker</h1>
      <p><p>
      <p>  Device Not Found  <p>
      <p><p>
      <p><p>
        <p> Contact Us: SplunkHelp@company.com <p></p>
      <p><p>
      <p><p>    
        <p><a href="https://www.w3schools.com/">Log a Splunk Platform Request to onboard devices</a></p>

    </div>
    <script src="//code.jquery.com/jquery-2.2.1.min.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
 

    

  </body>
</html>